version: 2
jobs:
  build:    
    docker:
      - image: docker
    environment:
      IMAGE_NAME: cybermint/pgmodeler
      PGMODELER_VERSION: 0.9.3-beta
    working_directory: ~/pgmodeler-docker
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: false
      # build and push Docker image to dockerhub.    
      - run: 
          name: Build and push
          no_output_timeout: 20m
          command: |
            set -o xtrace
            TAG=$PGMODELER_VERSION
            cd container
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker build -t $IMAGE_NAME:$TAG --build-arg PGMODELER_VERSION=$PGMODELER_VERSION --file=`pwd`/docker/Dockerfile .          
            docker push $IMAGE_NAME:$TAG
            docker tag $IMAGE_NAME:$TAG $IMAGE_NAME:latest
            docker push $IMAGE_NAME:latest          
workflows:
  version: 2
  build-commit:
    jobs:
      - build
              
